body{
	/*background-image: url("https://images.unsplash.com/photo-1562721880-63b7e6d62e9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=90");*/
	background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=250");
	font-family: 'Alata', sans-serif;
}

#sideNavBar {
  height: 100%;
  width: 13%;
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: rgba(167, 205, 233, 0.2);*/
  background-color: rgba(0,0,0, 0.3);
  overflow-x: hidden;
  /*padding-top: 20px;*/
  color: white;
  animation: navbar 0.2s 1;
}

@keyframes navbar{
	from{
		width: 0%;
	}
	/*to{
		width: 13%;
	}*/
}

@keyframes revnavbar{
	/*from{
		width: 13%;
	}*/
	to{
		width: 0%;
	}
}

#sideNavBar a{
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.logo{
	text-align: center;
	padding: 25px 0;
	border-bottom: 2px solid rgb(33, 47, 61);
}
.logo a i{
	font-size: 60px;
	color: rgb(212,175,55);
	/*color: white;*/
}

.menu{
	display: flex;
	flex-direction: column;
	padding: 40px;
	padding-bottom: 0px;
}

.menu a{
	text-align: center;
	padding: 15px 0;
}

#main{
	height: 100%;
	width: 100%;
	position: absolute;
	/*vertical-align: middle;*/
}

.introCard{
	text-align: center;
	align-items: center;
	position: relative;
	top: 30%;
}

.introCard h1{
	font-size: 54px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	color: #89721F;
	animation: txt 3s 1;
}

@keyframes txt{
	0%{
		color: #66891F;
		margin-bottom: -40%;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	80%{
		color: #89351F;
		letter-spacing: 8px;
		margin-bottom: 20px;
	}
}

.introCard p{
	font-size: 30px;
	color: white;
}

button{
	width: 200px;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	display: none;
	animation: btnanim 1s 1;
	border-radius: 20px;
	height: 50px;
	font-size: 20px;
	border: none;
	background-color: #9BCF4B;
	cursor: pointer;
	vertical-align: bottom;
	font-family: 'Alata', sans-serif;
	overflow: hidden;
}

button:hover{
	background-color: #344E0B;
	color: white;
}

@keyframes btnanim{
	from{
		width: 80px;
	}
	to{
		width: 200px;
	}
}

.menuitem{
	z-index: 5;
	padding: 10px;
	overflow: hidden;
	position: relative;
	width: 70%;
	/*height: 70%;*/
	float: right;
	display: none;
	flex-direction: column;
	color: white;
	top: 15%;
	/*margin-top: auto;*/
	margin-right: 10%;
	background-color: black;
	border-radius: 10%;
	box-shadow: 5px 10px #AEB6BF;
	animation: menuanim 0.5s 1;
}

.close {
  cursor: pointer;
  /*position: absolute;*/
  float: right;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  /*font-size: 50px;*/
  transform: translate(0%, -50%);
  color: gray;
}

@keyframes menuanim{
	from{
		width: 0%;
	}
	/*to{
		width: 70%;
	}*/
}

@keyframes reverseanim{
	from{
		width: 70%;
	}
	to{
		width: 0%;
	}
}


.aboutPage h2{
	color: rgb(212,175,55);
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(212,175,55);
}

.aboutPage .aboutPart{
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 900px){
	.aboutPage .aboutPart{
		display: block;
	}

	#sideNavBar{
		width: 100%;
		background-color: rgba(0,0,0);
	}

	.menuitem{
		width: 90%;
		float: none;
		margin: auto;
		top: 5%;
	}
}

@keyframes smallscreennav{
	from{
		width: 0%;
	}
	to{
		width: 100%;
	}
}
.aboutPart img{
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px;
}

.aboutPart div{
	padding: 10px;
	color: white;
}

.educationPage{
	padding: 20px;
	top: 5%;
	margin-top: auto;
	/*background-color: rgba(212, 175, 55, 0.7);*/
}

.eduhead{
	margin: auto;
}
.educationPage h2{
	color: rgb(212,175,55);
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(212,175,55);
}

.edupart{
	display: flex;
	/*height: 80%;*/
	height: auto;
	flex-direction: column;
	justify-content: space-around;

}

.edupart div{
	width: 90%;
	height: 25%;
	margin: auto;
	margin-top: 10px;
	background-color: white;
	color: black;
	padding: 10px;
	/*line-height: 0.5;*/
}


.edupart div p{
	line-height: 1px;
	font-size: 12px;
}

.edupart div h3{
	color: rgb(6, 33, 37);
}

.edupart div h4{
	color: rgb(20, 6, 37);
}

/*.internship h2{
	/*width: auto;*/
	/*margin: auto;*/
	/*padding: 0;*/
	/*margin-top: 0;*/
	/*margin-bottom: 0;*/
/*}*/
.internship h2{
	color: rgb(212,175,55);
	letter-spacing: 5px;
	text-align: center;
	border-bottom: 2px solid rgb(212,175,55);
}

.internship p{
	color: black;
}

.internship{
	/*top: 5%;*/
	/*height: 85%;*/
	margin-top: auto;
	height: auto;
}

.intern{
	margin-top: 0;
	padding: 0;
}
.intern li{
  margin: 20px;
  margin-top: 0px;
  height: 320px;
  vertical-align: middle;

  list-style: none;
  display: inline-block;
}

.card{
	text-align: center;
}

.face{
    width: 250px;
    height: 200px;
    transition: 0.5s;
}

@media screen and (max-width: 900px){
	.face{
		width: 280px;
	}
}

.face.face1{
  vertical-align: top;
    position: relative;
    background-color: #80A4A4;
    background-image: linear-gradient(to right, #466969 , #80A4A4);
    /*background-color: #140625;*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(100px);
}

.card:hover .face.face1{
    background: #0C8BA7;
    transform: translateY(0);
}

 .card .face.face1 .content{
   /* opacity: 0.2;*/
    transition: 0.5s;
}

.card:hover .face.face1 .content{
    opacity: 1;
}

.card .face.face1 .content img{
    width: 100px;
    margin: auto;
}
 .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
 .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    z-index: 8;
    transform: translateY(-100px);
}

.card:hover .face.face2{
    transform: translateY(0);
}

.card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}


.msg{
	color: white;
	text-align: center;
	letter-spacing: 8px;
	color: gray;
}

@media screen and (max-width: 900px){
	.msg{
		color: black;
	}
}

.experience h2{
	color: rgb(212,175,55);
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(212,175,55);
}

.exppart{
	padding: 20px;
	margin: 10px;
	display: block;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 220px;
  perspective: 1000px;
  display: inline-block;
  margin: 15px;
 }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

.flip-card-front {
	/*background-color: #bbb;*/
  /*background-image: linear-gradient(to right, #3A915A , #7AD19A);*/
  /*background-image: linear-gradient(to right, #592E62 , #A871B3);*/
  background-image: linear-gradient(to right, #466969 , #80A4A4);
  color: white;
}

.flip-card-front p{
	color: black;
}
.flip-card-back {
  /*padding: 5px;*/
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  
}

.projects h2{
	color: rgb(212,175,55);
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(212,175,55);
}

.projectPart{
	width: 90%;
	height: auto;
	margin: auto;
	display: inline-block;
}

.project{
	display: inline-block;
	width: 350px;
	height: 300px;
	margin: 10px;
}

.projectImage{
	width: 350px;
	height: 300px;
}

.projectmain {
  /*background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(209,239,232, 0.7); 
 /*background-color: #D1EFE8;*/
  font-weight: bold;
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  /*height: 100%;*/
}

.projectmain h3{
	color: #2980b9;
	font-size: 20px;
	font-weight: 20px;
}

.projectdiscription{
	z-index: 20;
	background-image: linear-gradient(to right, #466969 , #80A4A4);
	position: absolute;
	/*bottom: 10%;*/
	overflow: hidden;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
  	display: none;
  	padding: 20px;
  	width: 50%;
  	margin: auto;
  	height: auto;
  	border: 2px solid #D1EFE8;
  	animation: discanim 0.5s 1;
}

@keyframes discanim{
	from{
		width: 0%;
	}
}

@keyframes revdesc{
	to{
		width: 0%;
	}
}

.projectdiscription h3{
	text-align: center;
	color: white;
	margin: 10px;
}

.projectdiscription .close{
	color: black;
}

.skills{
	top: 5%;
}

.skills h2{
	color: rgb(212,175,55);
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(212,175,55);
}

.skillPart{
	padding: 0px 20px;
}


.skill{
	margin: 10px;
}

.myProgress {
  width: 100%;
  border-radius: 20px;
  background-color: #ddd;
  overflow: hidden;
}

@keyframes anim{
	from{
		width: 0%;
	}
}

#cpp{
  width: 90%;
  height: 30px;
  background-color: #4CAF50;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#c{
  width: 70%;
  height: 30px;
  background-color: #5DCAC3;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#java{
  width: 70%;
  height: 30px;
  background-color: #CA8B5D;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#python{
  width: 70%;
  height: 30px;
  background-color: #AC4C88;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#html{
  width: 95%;
  height: 30px;
  background-color: #0A445D;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#css{
  width: 95%;
  height: 30px;
  background-color: #4CAF50;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#js{
  width: 70%;
  height: 30px;
  background-color: #5DCAC3;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#react{
  width: 60%;
  height: 30px;
  background-color: #4CAF50;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#node{
  width: 60%;
  height: 30px;
  background-color: #AC4C88;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#sql{
  width: 80%;
  height: 30px;
  background-color: #4CAF50;
  animation: anim 2s;
  animation-delay: 0.5s;
}

#Psql{
  width: 80%;
  height: 30px;
  background-color: #CA8B5D;
  animation: anim 2s;
  animation-delay: 0.5s;
}



