body{
	/*background-image: url("https://images.unsplash.com/photo-1562721880-63b7e6d62e9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=90");*/
	background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=90");
	font-family: 'Alata', sans-serif;
}

#sideNavBar {
  height: 100%;
  width: 10%;
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  /*padding-top: 20px;*/
  color: white;
  animation: navbar 1.5s 1;
}

@keyframes navbar{
	from{
		width: 0%;
	}
	to{
		width: 10%;
	}
}

#sideNavBar a{
	cursor: pointer;
}

.logo{
	padding: 30px;
	border-bottom: 2px solid rgb(33, 47, 61);
}
.logo a i{
	font-size: 60px;
	color: rgb(212,175,55);
	/*color: white;*/
}

.menu{
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.menu a{
	padding: 20px;
}

#main{
	height: 100%;
	width: 100%;
	position: absolute;
	/*vertical-align: middle;*/
}

.introCard{
	text-align: center;
	align-items: center;
	position: relative;
	top: 30%;
}

.introCard h1{
	font-size: 54px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	color: #89721F;
	animation: txt 3s 1;
}

@keyframes txt{
	0%{
		color: #66891F;
		margin-bottom: -40%;
	}
	30%{
		color: #1F8951;
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	80%{
		color: #89351F;
		letter-spacing: 8px;
		margin-bottom: 20px;
	}
}

.introCard p{
	font-size: 30px;
	color: white;
}

button{
	width: 200px;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	display: none;
	animation: btnanim 3s 1;
	border-radius: 20px;
	height: 50px;
	font-size: 20px;
	border: none;
	background-color: #9BCF4B;
	cursor: pointer;
	vertical-align: bottom;
	font-family: 'Alata', sans-serif;

}

button:hover{
	background-color: #344E0B;
	color: white;
}

@keyframes btnanim{
	from{
		width: 80px;
	}
	to{
		width: 200px;
	}
}

.box{
	width: 70%;
	height: 60%;
	margin: auto;
	margin-top: 10%;
	background-color: black;
	vertical-align: middle;
}

